html {
    font-size: 65.5%;
    font-family: 'Roboto', sans-serif;
    // color: $black;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  /* apply a natural box layout model to all elements, but allowing components to change */
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }