$color-theme: hsl(214, 75%, 45%);
$paragraph-color: #009432;
$black: 	black;
$header-color: #3c6382;
$background-color: rgb(224, 213, 146);;
$background-color-1: #0652DD;

$heading-font: 'Roboto', sans-serif;
$heading-font1: 'Lobster Two', cursive;
$paragraph-font: 'Abel', sans-serif;
$red:#F44336;


//menu size
$menu-size: 760px;

// front page size

$front-page-size: 500px;
// mobile size
$desktop-size: 900px;

//tablet size
$tablet-size: 850px;

$mobile-size: 500px;
