.world
{
-webkit-animation: spin1 4s infinite linear;
-moz-animation: spin1 4s infinite linear;
-o-animation: spin1 4s infinite linear;
-ms-animation: spin1 4s infinite linear;
animation: spin1 4s infinite linear;
display: block;
margin-top: 30px;
padding: 20px;
width: 1%;

i{
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
}

}
 
 @-webkit-keyframes spin1 {
  0% { 
    -webkit-transform: rotate(0deg);
  }
  100% { -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@keyframes spin1 {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
} 


.world1
{
-webkit-animation: spin 2s infinite linear;
-moz-animation: spin 2s infinite linear;
-o-animation: spin 2s infinite linear;
-ms-animation: spin 2s infinite linear;
animation: spin 2s infinite linear;
display: block;
 margin-top: 40px;
padding: 20px;
width: 0;


i{
    font-size: 3rem;
    height: 5rem;
    width: 5rem;
  }

}

// alternate spin group
@-webkit-keyframes spin {
    0% { 
      -webkit-transform: rotate(0deg);
    }
    100% { -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg);}
  100% { -moz-transform: rotate(360deg);}
  }
  @-o-keyframes spin {
  0% { -o-transform: rotate(0deg);}
  100% { -o-transform: rotate(360deg);}
  }
  @-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg);}
  100% { -ms-transform: rotate(360deg);}
  }
  @keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
  } 


 i:first-child .fa-html5{
    padding: 100px;
 }
  